<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Home</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a routerLink="ecommerce/category" class="nav-link">E-commerce</a>
            </li>
            <li class="nav-item">
                <a routerLink="studentData/marks" class="nav-link">Student Data</a>
            </li>
            <li class="nav-item">
                <a routerLink="countdown" class="nav-link">Countdown</a>
            </li>
            <li class="nav-item active">
                <a routerLink="dynamic/dynamic" class="nav-link">Dynamic </a>
            </li>
            <!-- <li class="nav-item">
                <a routerLink="countdownSubject/count" class="nav-link">Count Sub</a>
            </li> -->
            
          
            <li class="nav-item">
                <a routerLink="banner/bannerView" class="nav-link"> Banner</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
