<div class="container">
  <br>
  <div class="alert alert-warning text-center" role="alert">
    Scroll Down To create Dynamic Div's
  </div>
  <div id="content">
    <div class="row">
      <div class="contentInside" *ngFor="let div of divArray; index as i">
        <button (click)="toOpenAlertBox(i + 1)" type="button" class="btn btn-primary click" data-bs-toggle="modal"
          data-bs-target="#exampleModal">
          Click Here
        </button>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="exampleModalLabel" >Alert !</h5>
          <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modalBodyContent">
          <span>Button </span> <span>'{{clickedDiv}}'</span><span> is clicked</span>
        </div>
      </div>
    </div>
  </div>
</div>