<p>countdown works!</p>


<div class="container">
    <div class="card">
        <div class="card-body">
          <div class="row">
              <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <app-countdown-display></app-countdown-display>
                    </div>
                </div>            
              </div>
              <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <app-countdown-controls ></app-countdown-controls>                      
                    </div>
                </div>
              </div>
          </div>
          <br>
          <div class="row">
              <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <app-countdown-timestamps></app-countdown-timestamps>
                    </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <app-countdown-logs ></app-countdown-logs>  
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
</div>